@media (max-width: 991px) {
    .mb-4 {
        margin-bottom: 1rem!important;
    }
    .mt-4 {
        margin-top: 1rem!important;
    }
    .mt-5 {
        margin-top: 1rem!important;
    }
    body {
        margin-bottom: 0!important;
    }
}

@media (min-width: 992px) {
    body {
        height: 100vh!important;
    }
}

.picdim {
    width: 10em;
    height: 10em;
    margin-top: -5rem;
}

.icon-s {
    font-size: 1.25em;
}

.icon-m {
    font-size: 2.5em;
}

.glow {
    color: #2ccc7c;
}

.forehead {
    z-index: 50;
}

.spacetxt {
    letter-spacing: 0.5px;
}

.boldtxt {
    font-weight: 500;
}

a:link, a:visited {
    color: #393e41;
    text-decoration: none;
}

a:hover, a:active {
    color: #2ccc7c;
    text-decoration: none;
}

nav {
    height: 30%;
}

body {
    height: 100%;
    background: linear-gradient(135deg, #2ccc7c, #393e41);
}